discord.py
discord.py @ git+https://github.com/Rapptz/discord.py
discord-ext-voice-recv @ git+https://github.com/imayhaveborkedit/discord-ext-voice-recv
google-generativeai
Pillow
colorama
asyncio
requests
httpx
youtube-transcript-api
python-docx
python-pptx
openpyxl
matplotlib
edge-tts
Flask
pynacl
pydub
beautifulsoup4
